# Server Configuration
PORT=3000

# Token Configuration
ESGI_TOKEN_ADDRESS=your_esgi_token_address_here

# Ethereum Configuration
ETH_RPC_URL=https://ethereum-rpc.publicnode.com
ETH_CONTRACT_ADDRESS=0x_your_contract_address_here
ETH_PUBLIC_KEY=your_ethereum_public_key_here
ETH_PRIVATE_KEY=your_ethereum_private_key_here

# Tezos Configuration
TEZOS_RPC_URL=https://rpc.tzkt.io/mainnet
TEZOS_CONTRACT_ADDRESS=KT1_your_contract_address_here
TEZOS_PUBLIC_KEY=your_tezos_public_key_here
TEZOS_PRIVATE_KEY=your_tezos_private_key_here